<app-header></app-header>
<div class="contenido_principal">
  <div class="contenido_login">
    <div class="encabezados">
      <h1>Recuperacion de contrasenia</h1>
      <h2>Ingresa el correo ligado a tu cuenta:</h2>
    </div>
    <div class="formulario">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Introduce tu correo electronico"
          name="email"
          id="email"
          [(ngModel)]="email"
        />
      </mat-form-field>
    </div>

    <button mat-flat-button color="primary" (click)="passRecovery()" class="btn-ingresar">
      Enviar
    </button>
  </div>
</div>
