<!-- ORIGEN -->
<form class="example-form">
  <mat-form-field class="container" class="example-full-width">
    <!--Este es el input para buscar el origen-->
    <input
      type="text"
      placeholder="Origen del Paquete"
      matInput
      [formControl]="busquedaDir"
      [matAutocomplete]="auto1"
    />
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option
        (click)="seleccionarOrigen(i)"
        (onSelectionChange)="seleccionarOrigen(i)"
        *ngFor="let lugar of lugares; let i = index"
        [value]="lugar.label"
      >
        {{ lugar.label }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<!-- DESTINO -->
<form class="example-form">
  <mat-form-field class="container" class="example-full-width">
    <input
      type="text"
      placeholder="Destino del Paquete"
      matInput
      [formControl]="busquedaDir"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        (click)="seleccionarDestino(i)"
        (onSelectionChange)="seleccionarDestino(i)"
        *ngFor="let lugar of lugares; let i = index"
        [value]="lugar.label"
      >
        {{ lugar.label }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="evaluarDatosDireccion()">
  Verificar
</button>
