<article class="mw5  bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
  <div class="tc">
    <img
      src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
      class="br-100 h4 w4 dib ba b--black-05 pa2"
      title="Photo of a kitty staring at you"
    />
    <h1 class="f3 mb2">{{usuario.nombre}} {{usuario.apellido_paterno}} {{usuario.apellido_materno}}</h1>
    <h2 class="f5 fw4 gray mt0">
      {{usuario.email}}
    </h2>
    <h2 class="f5 fw4 gray mt0">
        {{usuario.telefono}}
      </h2>
    <h2 class="f5 fw4 gray mt0" >
      <a
        [routerLink]="['/update/', this.usuario._id]"
        routerLinkActive="router-link-active">
        <i class="fas fa-user fa-lg"></i>
        <label for="" *ngIf="this.usuario">
          Editar datos
        </label>
      </a>
    </h2>
  </div>
</article>
