<app-header></app-header>
<div class="contenido_principal">
  <div class="contenido_login">
    <div class="encabezados">
      <h1>Recuperacion de contrasenia</h1>
      <h2>Ingresa el correo ligado a tu cuenta:</h2>
    </div>
    <div class="formulario">
      <mat-form-field>
        <input
          name="password"
          id="password"
          [(ngModel)]="password"
          matInput
          placeholder="Introduce la nueva contraseña"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
          }}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input
          name="passwordConf"
          id="passwordConf"
          [(ngModel)]="passwordConf"
          matInput
          placeholder="Repite la nueva contraseña"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
          }}</mat-icon>
      </mat-form-field>
    </div>

    <button mat-flat-button color="primary" (click)="setNewPassword()" class="btn-ingresar">
      Enviar
    </button>
  </div>
</div>
