<mat-form-field style="padding:1rem">
  <input
    [(ngModel)]="fecha"
    name="fecha"
    matInput
    [matDatepicker]="picker"
    placeholder="Fecha de Inicio"
    required
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field style="padding:1rem">
  <input
    [(ngModel)]="fecha2"
    name="fecha2"
    matInput
    [matDatepicker]="picker2"
    placeholder="Fecha Fin"
    required
  />
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<button (click)="verFecha()">ver</button>

<app-tablareporte  [movimientos]="movimientos"></app-tablareporte>
