.etiqueta {

    max-width: 100%;
    min-width: 18rem;
    height: 100vh;
    text-decoration: none;
    
}

.contenedor-etiqueta {
    display: flex;
    justify-content: center;
    
}
.btn-imprimir{
    text-decoration: none;
    color: white;
}