.elementos {
    display: flex;
    flex-direction: column;
}

@media(min-width:768px) {
    .elementos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.item {
    flex-grow: 2;
}

.btn-habilidado {
    background-color: brown;
}

.btn_deshabilitado {
    background-color: blueviolet;
}