.elementos {
    display: flex;
    justify-content: space-around;
}

.item{
flex-grow: 2;

}

.tc{
  

}

.btn-habilidado {
    background-color: brown;
}

.btn_deshabilitado {
    background-color: blueviolet;
}
