<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
      <p>Ingresa los datos de tu tarjeta</p>
      <div class="form-group">
        <label for="cc-number" class="control-label">Numero<small class="text-muted">[<span class="cc-brand"></span>]</small></label>
        <input id="cc-number"
               formControlName="creditCard"
               type="tel"
               class="input-lg form-control cc-number"
               autocomplete="off"
               placeholder="•••• •••• •••• ••••"
               ccNumber>
      </div>

      <div class="form-group">
        <label for="cc-exp"
               class="control-label">Mes/Anio de vencimiento</label>
        <input id="cc-exp"
               formControlName="expDate"
               type="tel"
               class="input-lg form-control cc-exp"
               autocomplete="off"
               placeholder="•• / ••"
               ccExp>
      </div>

      <div class="form-group">
        <label for="cc-cvc" class="control-label">CVC</label>
        <input id="cc-cvc"
               formControlName="cvc"
               type="tel"
               class="input-lg form-control cc-cvc"
               autocomplete="off" placeholder="•••"
               required ccCVC>
      </div>
      <button type="submit"
              class="btn btn-lg btn-primary">Siguiente</button>
      <div class="errors" *ngIf="submitted">
        <div *ngIf="!form.controls.creditCard.valid" class="alert alert-danger">La tarjeta es invalida</div>
        <div *ngIf="!form.controls.expDate.valid" class="alert alert-danger">La fecha de expiracion es necesaria</div>
        <div *ngIf="!form.controls.cvc.valid" class="alert alert-danger">el numero CVC es requerido</div>
      </div>
    </form>
</div>

