.contenido_principal {
  width: 80%;
  margin: 0 auto;
}

.contenido_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.botonsin button {
  margin-top: 1rem;
  width: 80%;
}

@media(min-width:768px) {
  .contenido_principal {
     width: 50%;
     margin: 0 auto;
  }
  .botonsin button {
     margin-top: 1rem;
     width: 50%;
  }
}